@model IEnumerable<CipherApp.DataLayer.TableModule.Exercise>
@{
    ViewBag.Title = "Download";
}
<head>
    <link rel="stylesheet" href="~/Styles/Exercise.css" />
    <script src="~/MyScript/Exercise.js"></script>
</head>

<div class="exercices">
    @using (Html.BeginForm("Save", "Exercise", FormMethod.Post))
    {
        foreach (var ex in Model)
        {
            <div class="exercisePlaceholder onHover">

                <label for="cifru">Cifru: </label>
                <div class="cifru wrap" >@ex.Cifru</div>
                <input class="cifru wrap invisible" name="cifru" value=@ex.Cifru></input>
                <br />
                <label for="cerinta">Enunt: </label>
                <div class="cerinta wrap" >@ex.Enunt</div>
                <input class="cerinta wrap invisible" name="cerinta" value=@ex.Enunt></input>
                <br />
                <label for="detalii">Detalii: </label>
                <div class="detalii wrap">@ex.Detalii</div>
                <input class="detalii wrap invisible" name="detalii" value=@ex.Detalii></input>
                <br />
                <label for="text">Text: </label>
                <div class="text wrap">@ex.TextNormal</div>
                <input class="text wrap invisible" name="text" value=@ex.TextNormal></input>
                <br />
                <label for="raspuns">Raspuns: </label>
                <div class="text wrap raspunsVisibil">@ex.TextCriptat</div>
                <input class="text wrap invisible" name="raspuns"></input>
                <br />
                <button>Save</button>
            </div>
        }

    }
</div>
@using (Html.BeginForm("Download", "Exercise", FormMethod.Post))
{
    <button class="downloadButton">Download</button>
}

            