@model IEnumerable<CipherApp.DataLayer.TableModule.Exercise>
@{
    ViewBag.Title = "ExercisesPage";
}
<head>
    <link rel="stylesheet" href="~/Styles/Exercise.css" />
    <script src="~/MyScript/Exercise.js"></script>
</head>

<div class="exercices">
    @try{
         foreach (var ex in Model)
         {
             <div class="exercisePlaceholder">

                 <label for="cifru">Cifru: </label>
                 <div name="cifru" class="cifru wrap">@ex.Cifru</div>
                 <br />
                 <label for="cerinta">Enunt: </label>
                 <div name ="cerinta" class="cerinta wrap">@ex.Enunt</div>
                 <br />
                 <label for="detalii">Detalii: </label>
                 <div name="detalii" class="detalii wrap">@ex.Detalii</div>
                 <br />
                 <label for="text">Text: </label>
                 <div name="text" class="text wrap">@ex.TextNormal</div>
                 <br />
                 <label class="raspuns" for="raspuns">Raspuns</label>
                 <div name="raspuns" class="raspuns wrap">@ex.TextCriptat</div>

                 <label for="result">Rezultat: </label>
                 <input name="result" col="3" row="3" type="text" class="result"></input>
                 <br />
                 <button class="submit" 
                         onclick="verifyResult(this.previousElementSibling.previousElementSibling.value,
                                               this.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML,
                                               this.nextElementSibling,
                                               this.nextElementSibling.nextElementSibling)">OK</button>               
                 
                 <img id="correct" alt="correct" src="~/Imagini/correct.jpg" width='60px' height="60px" class="raspunsImgCorrect" />
                 <img id="gresit" alt="gresit" src="~/Imagini/gresit.gif" width='60px' height="60px" class="raspunsImgGresit" />
                 <div class="helpArea">
                   
                   @using (Html.BeginForm("ShowSubstring", "Exercise", FormMethod.Post)) { 
                     <button class="help1">Substrings</button>
                     <input class="help1Placeholder" name="text" value=@ex.TextNormal></input>

                     <select name="number" class="cifre" id="cifre">
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                         <option>5</option>
                     </select>
                   }
                    @using (Html.BeginForm("ShowChart", "Exercise", FormMethod.Post))
                    {
                        <input class="help1Placeholder" name="text" value=@ex.TextNormal></input>
                        <button class="help2">Letter frequency</button>
                    }
                     <span class="explicatiiHelpSubstring wrap">
                         Selectati un numar care reprezinta lungimea de substrings
                         si apasati "Substrings" pentru a afisa cele mai des intalnite
                         substring-uri de acea dimensiune
                     </span>

                     <span class="explicatiiHelpLitere wrap">
                         Apasati tasta "Letter frequency" pentru a va afisa frecventa
                         de aparitie a literelor din text
                     </span>
                 </div>

             </div>
           

         }
    }
    catch (Exception e)
    {
        <div class="noEx">Nu sunt exercitii pentru optiunea aleasa</div>
    }
</div>
    
