@model CipherApp.DataLayer.TableModule.Cipher
<head>
    <link rel="stylesheet" href="~/Styles/OneCipher.css" />
</head>

<body>
    <div class="contentPlaceholder">
        <div class="titlePlaceholer">
            @Model.Title
        </div>
        <div class="descriptionPlaceholder">
            <span>Description</span><br />
            @Model.Description

        </div>
        <a class="linkPlaceholder" href="http://en.wikipedia.org/wiki/Caesar_cipher" /></a>
        <div class="securityPlaceholder">
            <span>Security</span><br />
            @Model.Security
        </div>
        <div class="algoritmPlaceholder">
            <span>Algorithm</span><br />
            @Model.Algoritm
        </div>     

    </div>
    <div class="gifPlaceholder">
        <img src="~/GIF/@Model.Gif" alt="empty" />
    </div>

    <div class="toExercise">
        @Html.ActionLink("Exercitii", "ExercisesPage", "Exercise", new { cipher =@Model.Title  },null)
    </div>
</body>
